body{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

#links {
    text-align: center;
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#links a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: #1100ff;
}

.picture {
    width: 300px;
    height: auto;
}

h2 {
    font-family: fantasy;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
ul {
    background-color: #1100ff;
    color: white;
}